body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
}

.box-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    /* center horizontally*/
}

.box {
    border: 5px solid rgb(0, 21, 255);
    padding: 10px;
    border-radius: 5px;
}

.separator-bar {
    border-left: 2px solid rgb(0, 114, 163);
    margin-top: 5px;
    margin: 0 auto;
    height: 20px;
}

.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.editable {
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    font-size: 16px; 
}

.editable:hover>*[contenteditable="true"] {
    background-color: rgba(10, 177, 238, 0.5);
}

.button-image {
    display: inline-block;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin: 10px;
}